* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6a6fd1a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    text-align: center;
    color: rgb(244, 67, 235);
    font-size: xx-large; 
    font-weight: bolder;
}

.navegacion {
    background-color: rgb(220, 106, 255);
    width: 100%;
    top: 50;
    z-index: 1000;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    border-radius: .25rem;
}

.banner {
    position: relative;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    justify-items: center;
}
.banner img{
    width: 50%;
    display: none;
    align-items: center;
}
.banner img.active {
    display: block;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    cursor: pointer;
    font-size: 2rem;
    color: #6ff35a;
    background-color: #f817a9;
    padding: 5px;
    border-radius: 30%;
}
.arrow.left {
    left: 5px;
}
.arrow.right {
    right: 5px;
}
.historia {
    background-color: #9ef1914b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-small;
    font-style: italic;
    text-align: justify;
    padding: 1rem;
}
.contenedor-servicios {
    display: flex;
    flex-direction: column;
    text-align: justify;
}
h2 {
    text-align: center;
    color: rgb(251, 59, 181);
}

.centrar-imagen {
    padding: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}

.gallery img {
    margin: 3px;
}

.card {
    display: flexbox;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    padding: 0rem;
}

.thumbnail {
    padding: 0.25rem;
    width: 15vw;
    height: 23vw;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #6ff35a;
    transition: border-color 0.3s;
}
.thumbnail:hover {
    border-color: #f817a9;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(216, 127, 251, 0.8);
}
.modal-content {
    display: flex;
    justify-content: center;
    height: 85%;
    background-color: #6ff35a;
    padding: 20px;
    align-items: center;
}
.modal-image {
    max-width: 100%;
    max-height: 100%;
    display: block
}
.close {
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 15px;
    cursor: pointer;
}
#procedimiento {
    display: none;
    margin-bottom: 20px;
    text-align: center;
    color: #f817a9;
    font-weight: bolder;
}

ul {
    counter-reset: paso;
}

.paso img {
    max-width: 60%;
    display: inline-block;
    margin-top: 10px auto;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.formulario {
    width: min(80rem o 100%);
    margin: 0 auto;
    padding: 1rem;
    border-radius: var(--radio-borde);
}
.formulario legend {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: #6ff35a;
    font-weight: bold;
}
.container-input {
    margin-bottom: 0.5rem;
}
.container-input label {
    color: #f817a9;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    text-align: left;
}
.container-input input,
.container-input textarea {
    width: 95%;
    padding: 0.5rem;
}
.enviar {
    text-transform: uppercase;
    color: #6ff35a;
    width: 100%;
    border: none;
    font-weight: bolder;
    margin-top: 0.5rem;
}

footer {
    text-align: center;
    font-size: small;
    color: #f817a9;
}